<!-- ko if: isLoading() || isSubmitting() -->
<p class="text-center loading-indicator">
    <i class="fa fa-5x fa-spin fa-spinner"></i>
</p>
<!-- /ko-->

<!-- ko if: isShowOrderItems -->
    <h1>Order items</h1>
    <!-- ko foreach: orderItems -->
    <!-- ko component: {name: 'orderItem', params: {data: $data} }--><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: isReturningItems -->
    <span data-bind="text: returnSummaryText"></span>
    <!-- ko component: 'returnsMethod' --><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: hasSelectedReturnsMethod -->
    <!-- ko component: 'packingDetails' --><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: isShowSubmitButton -->
    <button data-bind="click: submit" class="btn btn-success">Submit</button>
    <!-- /ko -->
<!-- /ko -->

<!-- ko if: hasSubmitted -->
    <!-- ko component: 'submitComplete' --><!-- /ko -->
<!-- /ko-->

