<h1>How do you want to return your items?</h1>
<div class="returns-method">
    <div class="row">
        <div class="col-lg-6">
            <div class="drop-off-point" data-bind="css: {'success-border': isDropOffPointSelected, 'greyed-out-text': isCollectionSelected}">
                <div class="row text-success-on-hover" data-bind="click: selectDropOffPoint, css: {'text-success': isDropOffPointSelected}">
                    <div class="col-xs-2 col-xs-offset-2 returns-method-icon">
                        <i class="fa fa-3x fa-flag-o"></i>
                    </div>
                    <div class="col-xs-8">
                        <h3>Drop-off point</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="collection" data-bind="css: {'success-border': isCollectionSelected, 'greyed-out-text': isDropOffPointSelected}">
                <div class="row text-success-on-hover" data-bind="click: selectCollection, css: {'text-success': isCollectionSelected}">
                    <div class="col-xs-2 col-xs-offset-2 returns-method-icon">
                        <i class="fa fa-3x fa-truck"></i>
                    </div>
                    <div class="col-xs-8">
                        <h3>Book a collection</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- ko if: isDropOffPointSelected -->
            <!-- ko component: 'dropOffPoint' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: isCollectionSelected -->
            <!-- ko component: 'collection' --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>