.order-item {
    border: 4px solid #fafafa;
    background-color: #fcfcfc;
    padding: 10px;
    margin-bottom: 10px;
}

.order-item .feedback-row {
    margin-top: 20px;
}

.order-item .order-item-summary {
    margin-bottom: 30px;
}

.order-item .feedback-type-buttons button {
    font-size: 1.3em;
}

.loading-indicator {
    margin-top: 100px;
}

.returns-method-icon {
    margin-top: 5px;
}

body {
    padding-bottom: 50px;
}

.returns-method .collection,
.returns-method .drop-off-point {
    border: 4px solid #fafafa;
    background-color: #fcfcfc;
    padding: 10px;
}

.returns-method .collection h3,
.returns-method .drop-off-point h3 {
    margin-top: 10px;
}