<h1>Test App</h1>
<div class="row">
    <div class="col-lg-4">
        <!-- ko component: 'testAddEmployee' --><!-- /ko -->
    </div>
    <div class="col-lg-4">
        <!-- ko component: 'testShowEmployees' --><!-- /ko -->
    </div>
    <div class="col-lg-4">
        <button data-bind="click: toggleContactForm.bind($data)" class="btn btn-success">Show/Hide contact form</button>

        <!-- ko if: isShowContactForm -->
        <!-- ko component: 'testContactForm' --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
    

            
